
:root {
    --border-color: #4096ff;
    --border-radius: 2px;
    --border-style: dashed;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.handleBorderBottom {
    border-bottom: var(--border-radius) var(--border-style) var(--border-color);
}

.handleBorderTop {
    border-top: var(--border-radius) var(--border-style) var(--border-color);
}

.handleBorderLeft {
    border-left:var(--border-radius) var(--border-style) var(--border-color);
}


.handleBorderRight {
    border-right:var(--border-radius) var(--border-style) var(--border-color);
}



.containerDocument {
    width: 100%;
    max-width: calc(100% - 2em);
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page {
    margin: 1em 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


